.nav {
  background-color: #1c3879;
  display: flex;
  height: 8vh;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 2;
  box-shadow: 0 0 3px 0px;
}

.nav__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 9.37rem;
  justify-content: flex-start;
  width: 1440px;
}

.nav__image {
  background: no-repeat center center;
  background-size: cover;
  height: 8vh;
  object-fit: cover;
  padding-left: 1.25rem;
}

.nav__menu {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
  margin: 0;

}

.nav__button {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav__button:hover {
  opacity: 0.4;
  transition: ease 0.3s;
}

.nav__toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 50px;
  transition-duration: 1s

}

.nav__toggle-bar {
  background: #fff;
  height: 3px;
  width: 30px;
  transition: transform 0.2s ease;
  transition-duration: 1s

}

.nav__toggle-bar:first-child {
  transform: translateY(-4px);
}

.nav__toggle-bar:last-child {
  transform: translateY(4px);
}


@media screen and (max-width: 1080px) {
  .nav__container {
    gap: 5.5rem;
  }
  .nav__menu {
    gap: 2.5rem;

  }
}


@media screen and (max-width: 980px) {
  .nav__container {
    gap: 4.5rem;
  }
  .nav__menu {
    gap: 2rem;

  }
}

@media screen and (max-width: 890px) {
  .nav__container {
    gap: 3rem;
  }

  .nav__menu {
    gap: 1.3rem;
  }
}

@media screen and (max-width: 800px) {
  .nav__container {
    gap: 2.5rem;
  }

  .nav__menu {
    gap: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav__image {
    padding-left: 50px;
  }

  .nav__menu {
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    padding: 20px 0;
    background-color: #05070bf3;
    width: 60%;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    visibility: hidden;
  }
  .nav__menu-closed {
    height: 0;
    transition: height 0.5s ease-in-out;
    visibility: hidden;
  }

  .nav__menu.nav__menu--open {
    height: 100vh;
    visibility: visible;
  }

  .nav__button:hover {
    transition: .2s;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .nav__toggle {
    display: flex;
  }

  .nav--open .nav__menu {
    display: flex;
  }

  .nav--open .nav__toggle-bar:first-child {
    transform: rotate(-45deg) translateY(3px);
  }

  .nav--open .nav__toggle-bar:last-child {
    transform: rotate(45deg) translateY(-3px);
  }

  .nav--open .nav__toggle-bar:nth-child(2) {
    opacity: 0;
  }
}
