.types {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.types__container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types__title {
  font-size: 50px;
  line-height: 76%;
  margin: 0;
  margin-top: 50px;
}

.types__paragraph {
  max-width: 980px;
  height: 240px;
  font-size: 26px;
  line-height: 134%;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.types__list {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 40px;
  margin: 0;
  margin-top: 50px;
}

.types__item {
  border: 1px solid black;
  width: 165px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: #0000001b;
  box-shadow: 0 0 12px 0px #00000078;
}
.types__item:hover {
  background-color: #1c38797a;
  transition: ease 0.3s;
  cursor: pointer;
}

.types__item-image {
  width: 50px;
  height: 50px;
}

.types__item-text {
  font-size: 14px;
}
