.types {
  display: flex;
  flex-direction: column;
  padding: 2.75rem 1rem;
  gap: 2rem;
  justify-content: space-between;
}

.types__container-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.types__title {
  font-size: 3.12rem;
  line-height: 76%;
  margin: 0;
}

.types__paragraph {
  background-color: #fff0ce;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 980px;
  height: 300px;
  font-size: 1.4rem;
  line-height: 134%;
  text-align: justify;
  margin: 0;
  padding: 0 10px;
  color: #000;
  box-shadow: 2px 2px 4px 0px #0000005e;
}

.types__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  column-gap: 2.5rem;
  margin: 0;
}

.types__item {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #0000001b;
  box-shadow: 2px 2px 4px 0px #0000005e;
}

.types__item-image {
  width: 50px;
  height: 50px;
}

.types__item-button {
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  width: 100%;
  padding: 0.5rem;
  transform: translateY(-3px);
  transition: ease-in 0.3s;
}

.types__item-button:hover {
  background-color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
}

.types__item-button:active {
  transform: translateY(0px);
  transition: ease-in 0.07s;
}

.types__item-button-active {
  transform: translate(0px);
  transition: ease-in 0.3s;
  background-color: #fff0ce;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.types__title,
.types__paragraph {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.types__title.active,
.types__paragraph.active {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 980px) {
  .types__title {
    font-size: 2rem;
  }
  .types__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 740px;
    height: 200px;
  }
  .types__item-image {
    width: 35px;
    height: 35px;
  }
  .types__item {
    width: 140px;
    height: 55px;
  }
  .types__item-button {
    font-size: 0.8rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .types {
    flex-direction: row-reverse;
    justify-content: center;
    row-gap: 30px;
  }
  .types__carousel {
    display: flex;
  }
  .types__list {
    flex-direction: column;
    row-gap: 30px;
  }
  .types__container-text {
    align-items: normal;
  }
  .types__paragraph {
    width: 420px;
    justify-content: center;
    font-size: 1.2rem;
    height: 400px;
  }
  .types__item {
    height: 100px;
  }
  .types__item-image {
    width: 60px;
    height: 60px;
  }
  .types__item-button-active {
    transition: 0.3s;
  }
}

@media screen and (max-width: 630px) {
  .types__container-text {
    gap: 0;
  }
  .types__title {
    font-size: 1.8rem;
  }
  .types__paragraph {
    font-size: 1rem;
    width: 340px;
    height: 400px;
    line-height: 1.2rem;
    padding-top: 10px;
  }
  .types__list {
    row-gap: 10px;
  }
  .types__item {
    width: 80px;
  }
  .types__item-image {
    width: 50px;
    height: 50px;
  }
  .types__item-button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 520px) {
  .types {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 0;
    align-items: center;
  }
  .types__title {
    font-size: 1.3rem;
    text-align: center;
  }

  .types__container-text {
    gap: 10px;
  }
  .types__paragraph {
    font-size: 1rem;
    width: 280px;
    height: 100%;
    line-height: 1.2rem;
    padding-top: 10px 10px;
    text-align: center;
    padding: 5px;
  }
  .types__list {
    display: grid;
  }
  .types__item {
    width: 290px;
    height: 45px;
  }
  .types__container-text {
    width: 290px;
  }
  .types__paragraph {
    align-items: flex-start;
  }
  .types__item-image {
    width: 30px;
    height: 30px;
  }
}
