.types {
  display: flex;
  flex-direction: column;
  padding: 2.75rem 1rem;
  gap: 2rem;
  background-color: #ebf4ff;
  height: 380px;
  justify-content: space-between;
}

.types__container-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.types__title {
  font-size: 3.12rem;
  line-height: 76%;
  margin: 0;
}

.types__paragraph {
  max-width: 980px;
  font-size: 1.4rem;
  line-height: 134%;
  text-align: center;
  margin: 0;
}

.types__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  column-gap: 2.5rem;
  margin: 0;
}

.types__item {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #0000001b;
  box-shadow: 0 0 5px 0px #000000b7;
}

.types__item-image {
  width: 50px;
  height: 50px;
}

.types__item-button {
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  width: 100%;
  padding: 0.5rem;
  transform: translateY(-7px);
  transition: ease-in 0.3s;
}

.types__item-button:hover {
  background-color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
}

.types__item-button:active {
  transform: translateY(0px);
  transition: ease-in 0.07s;
}

.types__item-button-active {
  transform: translate(0px);
  transition: ease-in 0.3s;
  background-color: #00000000;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
