.world {
  width: 100%;
  background-color: #607eaa;
  display: flex;
  gap: 1.8rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 2.75rem 0;
}

.world__title {
  margin: 0;
  color: #f9f5eb;
  font-size: 2rem;
  line-height: 2.2rem;
}

.world__paragraph {
  margin: 0;
  color: #f9f5eb;
  max-width: 920px;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.31rem;
}

.world__list {
  display: flex;
  list-style: none;
  column-gap: 3.12rem;
  padding: 0;
  margin: 0;

}

.world__item {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eae3d2;
  border-radius: 3px;
}

.world__item-title {
  margin: 0;
  font-size: 3.12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

.world__item-paragraph {
  margin: 0;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.31rem;
}

.world__item-image {
  background-color: black;
  width: 54px;
  height: 54px;
}
