.country {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.country__chart {
  width: 600px;
  height: 600px;
}

.country__container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.country__title {
  font-size: 3.12rem;
  line-height: 76%;
  margin: 0;
}

.country__paragraph {
  max-width: 980px;
  height: 140px;
  font-size: 26px;
  line-height: 134%;
  text-align: center;
  margin: 0;
}

.country__charts {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.country__item {
  width: 360px;
  height: 278px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #cac4b6;
}

.country__item-percentage {
  border: 15px solid #cac4b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  font-size: 36px;
  margin: 0;
}

.country__text {
  color: #202020;
  font-size: 24px;
}

@media screen and (max-width: 1240px) {
  .country__title {
    font-size: 2.5rem;
    padding: 0;
  }

  .country__paragraph {
    width: 730px;
    font-size: 1.3rem;
  }

  .country__item {
    width: 240px;
    height: 210px;
  }

  .country__item-percentage {
    width: 110px;
    height: 110px;
    font-size: 32px;
  }

  .country__text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 980px) {
  .country__title {
    font-size: 2rem;
  }

  .country__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 740px;
    height: 80px;
  }

  .country__item {
    width: 220px;
    height: 190px;
  }

  .country__item-percentage {
    width: 100px;
    height: 100px;
    font-size: 28px;
  }

  .country__text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .country__paragraph {
    width: 550px;
    font-size: 1.2rem;
    height: 100%;
  }

  .country__item {
    width: 120px;
    height: 190px;
  }

  .country__item-percentage {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 630px) {
  .country__title {
    font-size: 1.8rem;
  }
  .country__paragraph {
    max-width: 430px;
  }
}

@media screen and (max-width: 520px) {
  .country__title {
    font-size: 1.3rem;
  }
  .country__paragraph {
    font-size: 1rem;
    width: 280px;
  }

  .country__list {
    flex-direction: column;
    align-items: center;
  }
  .country__item {
    width: 300px;
  }
}
