.test {
  display: flex;
  flex-direction: column;
  padding: 3.12rem 1rem;
}

.test__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test__title {
  font-size: 3.12rem;
  line-height: 76%;
  margin: 0;
}

.test__paragraph {
  max-width: 980px;
  height: 140px;
  font-size: 1.62rem;
  line-height: 134%;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.test__container {
  display: flex;
  justify-content: center;
}

.test__input-container {
  width: 920px;
  height: 682px;
  background-color: #d9d9d9;
  box-shadow: 0 0 12px 0px #00000078;
}

@media screen and (max-width: 1240px) {

  .test__title {
    font-size: 2.5rem;
  }

  .test__paragraph {
    width: 730px;
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 980px) {
  .test__title {
    font-size: 2rem;
  }

  .test__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 740px;
    height: 80px;
  }


}

@media screen and (max-width: 768px) {
  .test__paragraph {
    width: 550px;
    font-size: 1.2rem;
    height: 100%;
  }
  .test__container {
    padding-top: 30px;
  }
  .test__input-container {
    width: 550px;
    height: 880px;
  }
}

@media screen and (max-width: 630px) {
  .test__title {
    font-size: 1.8rem;
  }
  .test__paragraph {
    max-width: 430px;
  }
  .test__input-container {
    width: 420px;

  }
}

@media screen and (max-width: 520px) {
  .test {
    padding: 3.12rem 0;
  }
  .test__title {
    font-size: 1.3rem;
  }
  .test__paragraph {
    font-size: 1rem;
    width: 280px;
  }
  .test__input-container {
    width: 270px;
    height: 880px;
  }
}