.world {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 2.75rem 0;
}

.world__title {
  font-size: 3.12rem;
  line-height: 1.5rem;
  margin: 0;
}

.world__paragraph {
  margin: 0;
  color: #000000;
  max-width: 920px;
  font-size: 1.62rem;
  line-height: 134%;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.world__list {
  padding:0;
  padding-top: 3rem;
  margin: 0;
}

.world__chart {

  width: 290px;
  height: 290px;
}

@media screen and (max-width: 1240px) {
  .world__title {
    font-size: 2.5rem;
  }
  .world__paragraph {
    width: 730px;
    font-size: 1.3rem;
  }
  .world__list {
    column-gap: 2.5rem;
  }
}

@media screen and (max-width: 980px) {
  .world__title {
    font-size: 2rem;
  }
  .world__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .world__list {
    column-gap: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .world__paragraph {
    width: 550px;
    font-size: 1.2rem;
  }
  .world__list {
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 630px) {
  .world__title {
    font-size: 1.8rem;
  }
  .world__paragraph {
    max-width: 430px;
  }
}

@media screen and (max-width: 520px) {
  .header__wrap {
    gap: 1.3rem;
  }

  .world__title {
    font-size: 1.3rem;
    text-align: center;
    width: 300px;
  }
  .world__paragraph {
    max-width: 290px;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .world__list {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0.5rem;
  }
  .world__chart {
    width: 290px;
    height: 290px;
  }

  @media screen and (max-width: 340px) {
    .world__chart {
      width: 240px;
      height: 240px;
    }
  }
}
