@import url("./fonts/fonts.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

@import url(blocks/page.css);
@import url(blocks/nav.css);
@import url(blocks/header.css);
@import url(blocks/footer.css);
@import url(blocks/world.css);
@import url(blocks/ia.css);
