@import url("./fonts/fonts.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(232, 231, 231)
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.331) ;
}

@import url(blocks/page.css);
@import url(blocks/nav.css);
@import url(blocks/header.css);
@import url(blocks/footer.css);
@import url(blocks/world.css);
@import url(blocks/ia.css);
@import url(blocks/types.css);
@import url(blocks/contry.css);
@import url(blocks/test.css);
