@import url("./vendor/normalize.css");
@import url("./fonts/fonts.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e7e7;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.331);
  }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

@import url(blocks/nav.css);
@import url(blocks/header.css);
@import url(blocks/footer.css);
@import url(blocks/world.css);
@import url(blocks/ia.css);
@import url(blocks/types.css);
@import url(blocks/country.css);
@import url(blocks/test.css);
